<!DOCTYPE html>
<html>
<head>
<title>Insert New Store</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="./css/bootstrap.min.css">
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
<link rel="stylesheet" href="./css/font-awesome.css">
<link rel="stylesheet" href="./css/font-awesome.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="./css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<!--<script href="./js/bootstrap.min.js"></script>-->
<script href="./js/bootstrap.js"></script>
<script href='./js/nav-bar.js'></script>
<link rel='stylesheet' href='./stylesheets/nav-bar.css'/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css'/>
<link rel='stylesheet' href='/stylesheets/insert.css'/>
<script href="./js/bootstrap.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<script>
var geocoder;
var map;
var lat;
var long;
var marker;
//Chạy khi khởi tạo.
function initialize() {
    geocoder = new google.maps.Geocoder();
    //Option.
    var mapOptions = {
        zoom: 20
    };
    //Tạo google map tại map-canvas cùng với option.
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    // Try HTML5 geolocation
    if (navigator.geolocation) {
        //Lấy tọa độ hiện tại:
        navigator.geolocation.getCurrentPosition(function (position) {
            var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            lat = new google.maps.LatLng(position.coords.latitude);
            long = new google.maps.LatLng(position.coords.longitude);
            marker = new google.maps.Marker({
                draggable: true,
                position: pos,
                map: map,
                title: 'Bạn đang ở đây?',
                animation: google.maps.Animation.DROP,
                anchor: new google.maps.Point(0, 49)

            });
            google.maps.event.addListener(marker, 'drag', function (a) {
                var elem = document.getElementById("a");
                elem.value = a.latLng.lat().toFixed(7);
                var elem = document.getElementById("o");
                elem.value = a.latLng.lng().toFixed(7);
            });

            map.setCenter(pos);
        }, function () {
            handleNoGeolocation(true);
        });
    } else {
        handleNoGeolocation(false);
    }
    getLatLong();

    google.maps.event.addListener(map, "click", function (event) {
        var lat = event.latLng.lat();
        var lng = event.latLng.lng();

        marker.setMap(null);

        var pos = new google.maps.LatLng(lat, lng);

        marker = new google.maps.Marker({
            draggable: true,
            position: pos,
            map: map,
            title: "Bạn ở đây?",
            raiseOnDrag: false,
            animation: google.maps.Animation.DROP
        });

        google.maps.event.addListener(marker, 'drag', function (a) {
            var elem = document.getElementById("a");
            elem.value = a.latLng.lat().toFixed(7);
            var elem = document.getElementById("o");
            elem.value = a.latLng.lng().toFixed(7);
        });

        var elem = document.getElementById("a");
        elem.value = lat.toFixed(7);
        var elem = document.getElementById("o");
        elem.value = lng.toFixed(7);
    });

    var input = (document.getElementById('pac-input'));
    var click = (document.getElementById('search'));
    map.controls[google.maps.ControlPosition.TOP_RIGHT].push(click);
    map.controls[google.maps.ControlPosition.TOP_RIGHT].push(input);
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.bindTo('bounds', map);
    var infowindow = new google.maps.InfoWindow();
    marker = new google.maps.Marker({
        map: map,
        anchorPoint: new google.maps.Point(0, -29),
        draggable: true,
        position: pos,
        title: "Bạn ở đây?",
        raiseOnDrag: false,
        animation: google.maps.Animation.DROP
    });

    //Event place_changed cho textbox autocomplete
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
        alert("her");
        infowindow.close();
        marker.setVisible(false);
        var place = autocomplete.getPlace();
        if (!place.geometry) {
            return;
        }

        // If the place has a geometry, then present it on a map.
        if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
        } else {
            map.setCenter(place.geometry.location);
            map.setZoom(20);  // Why 17? Because it looks good.
        }

        marker = new google.maps.Marker({
            draggable: true,
            position: pos,
            map: map,
            title: "Bạn ở đây?",
            raiseOnDrag: false,
            animation: google.maps.Animation.DROP
        });

        /*google.maps.event.addListener(marker, 'drag', function(a) {
         var elem = document.getElementById("a");
         elem.value = a.latLng.lat().toFixed(7);
         var elem = document.getElementById("o");
         elem.value = a.latLng.lng().toFixed(7);
         });*/

        marker.setPosition(place.geometry.location);
        var elem = document.getElementById("a");
        elem.value = place.geometry.location.lat().toFixed(7);
        var elem = document.getElementById("o");
        elem.value = place.geometry.location.lng().toFixed(7);
        marker.setVisible(true);

        var address = '';
        if (place.address_components) {
            address = [
                (place.address_components[0] && place.address_components[0].short_name || ''),
                (place.address_components[1] && place.address_components[1].short_name || ''),
                (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
        }

        infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
        infowindow.open(map, marker);
    });
} //Hết init
function toggleBounce() {

    if (marker.getAnimation() != null) {
        marker.setAnimation(null);
    } else {
        marker.setAnimation(google.maps.Animation.BOUNCE);
    }
}
//Kiểm tra xem trình duyệt có hỗ trợ geolocation không?
function handleNoGeolocation(errorFlag) {
    if (errorFlag) {
        var content = 'Error: The Geolocation service failed.';
    } else {
        var content = 'Error: Your browser doesn\'t support geolocation.';
    }
    var options = {
        map: map,
        position: new google.maps.LatLng(60, 105),
        content: content
    };
    var infowindow = new google.maps.InfoWindow(options);
    map.setCenter(options.position);
}

//Lấy lat, lng.
function getLatLong() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        alert("Geolocation is not supported by this browser.");
    }
}

function showPosition(position) {
    //Set lat và long xuống textbox.
    var elem = document.getElementById("a");
    elem.value = position.coords.latitude;
    var elem = document.getElementById("o");
    elem.value = position.coords.longitude;
}

function codeAddress() {
    var address = document.getElementById('pac-input').value;
    geocoder.geocode({ 'address': address}, function (results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            var elem = document.getElementById("a");
            elem.value = results[0].geometry.location.lat();
            var elem = document.getElementById("o");
            elem.value = results[0].geometry.location.lng();

            pos = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());

            map.setCenter(results[0].geometry.location);
            marker.setVisible(false);
            marker = new google.maps.Marker({
                draggable: true,
                position: pos,
                map: map,
                title: "Bạn ở đây?",
                raiseOnDrag: false,
                animation: google.maps.Animation.DROP
            });

            google.maps.event.addListener(marker, 'drag', function (a) {
                var elem = document.getElementById("a");
                elem.value = a.latLng.lat().toFixed(7);
                var elem = document.getElementById("o");
                elem.value = a.latLng.lng().toFixed(7);
            });
            /*if (infowindow) {
             infowindow.close();
             } else {
             var infowindow = new google.maps.InfoWindow({
             map: map,
             position: pos,
             content: 'Chỗ này à?'
             });
             }*/
        } else {
            alert('Geocode was not successful for the following reason: ' + status);
        }
    });
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<style>
    #map-canvas {
        float: left;
        margin-top:   10px;
        margin-left: 12%;
        height: 400px;
        width: 75%;
    }

    html, body {
        height: 100%;
        margin: 0px;
        padding: 0px
    }

    .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
    }

    #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px; /* Regular padding-left + 1. */
        width: 401px;
    }

    .pac-container {
        font-family: Roboto;
    }

    #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
    }

    #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
    }

</style>
<% include ../views/backtotop %>
</head>
<body>
<% include ../views/nav-menu %>



<div class="container mt40" id="container">


    <!--<div class="main">-->
    <!--<div class="wrap">-->
    <!--<div id="map-canvas" class="map"></div>-->
    <!--<button onclick="codeAddress()">Focus My location.</button>-->
    <br>
    <br>

    <div class="Regisration">

        <div class="Regisration-head">
            <h2>Insert new store</h2>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            <input type="text" required name="StoreName" placeholder="Tên cửa hàng">
            <input type="text" required name="Address" placeholder="Địa chỉ">
            <br>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg"
                    style="width: 76%;height: 46px" onclick="codeAddress()">Location
            </button>
            <div id="map-canvas" class="map"></div>
            <input id="pac-input" type="text" value="Hồ Chí Minh, Việt Nam" placeholder="Enter a location" class="controls">
            <br>
            <br>
            <input id="a" name="Latitude">
            <input id="o" name="Longitude">
            <input type="text" required name="Phone" placeholder="Số điện thoại liên lạc">
            <!--<input type="text" required name="Description" placeholder="Giới thiệu về cửa hàng">-->
            <textarea required name="Description" placeholder="Giới thiệu về cửa hàng" style="float: left;margin-left: 12%;width: 76%;height: 15em; background-color: #13161B;"></textarea>

            <input type="file" required name="CoverImage" accept="image/*" onchange="showMyImage(this)"  multiple>
            <br>
            <img id="thumbnil" style="width:20%; margin-top:10px;"  src="" alt="image" />
            <br>
            <div class="Remember-me">


                <div class="submit">
                    <input type="submit" value="Thêm -->">
                </div>
                <div class="clear"></div>
            </div>

        </form>
    </div>
    <!--</div>-->
    <!--</div>-->
</div>
</body>
</html>