<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
Search

<%=category_array.length%>

<% category_array.forEach(function(err, c){  %>

   <p><%=c.CategoryName%></p>
<% })%>

</body>
</html>
